/************************************
************  GENERAL ************
************************************/

* {
	 box-sizing: border-box;
     border: 2px solid red; /*REMOVE THIS BEFORE PUBLISHING*/
}
body {
	font-family: 'Paytone One', sans-serif;
	background-color: #00715F;
   
}
img {
	max-width: 100%;
}
.container {
	width: 90%;
	margin: auto;
	background-color: #F2F5F2;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.content {
	max-width: 82%;
	margin: auto;
}
header {
	background-color: #A0DBDA;
	text-align: center;
	width: 100%;
}
p {
	font-family: 'Convergence', sans-serif;
}
.name {
	display: inline-block;
	font-size: 2em;
	color: #165B7E;
	margin-top: 40px;
}
/************************************
************  MAIN NAVIGATION ************
************************************/
.main-nav ul {
	padding-left: 0;
}
.main-nav li {
	text-transform: uppercase;
	font-size: 1.3em;
	line-height: 1.7em;
	margin: 5px auto;
	font-weight: 800;
	clear: both;
	list-style: none;
}
.main-nav a:hover {
	background-color: #727272;
}
.main-nav a {
	display: inline-block;
	color: #727272;
	text-decoration: none;
	padding: 10px 15px;
}
.main-nav a:hover {
	color: white;
}
/************************************
************  PROFILE  ************
************************************/
.profile {
	text-align: center;
	max-width: 100%;
	padding: 20px;
	margin: 1px auto;
	background-color: #F9F8F7;
	color: #333;
}
.profile-description {
	width: 100%;
	margin: auto;
	padding: 0;
	display: inline-block;
    font-size: 135%;
}
.profile-photo {
	display: inline-block;
	height: 150px;
	margin: 25px auto;
	float: left;
}
/************************************
************  PORTFOLIO ************
************************************/
.portfolio {
	text-align: center;
	padding: 1em;
	background-color: #F2F5F2;
}
.portfolio-heading {
	text-align: center;
	text-transform: uppercase;
}
.portfolio-photos {
	max-width: 100%;
	margin: 0 auto;
	box-shadow: 6px 6px #666;
}
/************************************
************  SKILLS  ************
************************************/
.skills-info {
	margin: 0 auto;
	text-align: center;
}
.skills-info ul {
	padding-left: 0;
	margin: 12px;
}
.skills-info li {
	padding: 1em;
	margin: 1em;
	list-style: none;
	display: inline-block;
	opacity: 0.5;
}
.skills-info li:hover {
	opacity: 1;
	box-shadow: 1px 1px 5px #888;
}
/************************************
************  CONTACT  ************
************************************/
.contact-wrapper {
	text-align: center;
	position: relative;
	padding: 10px;
}
.contact-description {
	margin-bottom: 30px;
}

hr {
	border-top: 1px solid #25D7C7;
	width: 94%;
	margin: 20px auto;
	clear: both;
}

.contact-header {
	text-transform: uppercase;
}
.contact-info {
	display: inline-block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 auto;
	margin: 0 auto;
    font-size: 1.5em;
	list-style: none;
	text-align: center;
}

.contact-info li.phone {
	background-image: url('../images/phone.png');
  
}
.contact-info li.mail {
	background-image: url('../images/mail.png');
}


.contact-info a:hover {
	color: #727272;
    opacity: 0.5;
}

/************************************
************  FOOTER  ************
************************************/
.main-footer {
	font-size: 0.7em;
	padding: 10px 20px 30px 30px;
	margin-bottom: 30px;
	background-color: #A0DBDA;
}
.footer-name {
	display: inline-block;
	float: left;
}
.footer-link {
	display: inline-block;
	float: right;
}
.footer-navigation {
	display: none;
}
.footer-wrapper a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

/*************************************
**************************************
************                 *********
************  MEDIA QUERIES  *********
************    768          *********
************                 *********
**************************************
**************************************/

@media (min-width: 768px) {
	.main-header {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 5px;
	}
	.profile-wrapper {
		width: 100%;
		padding: 20px;
  
	}
	.profile-photo {
		float: right;
		display: inline-block;
		
	}
	.profile-description {
		margin-top: 30px;
		float: left; /*this will collapse teh text*/
		text-align: center;/*THIS IS WHAT YOU CHANGED*/
		
	}
	.name {
		display: block;
		margin: 0;
	}
	nav li {
		text-transform: uppercase;
	}
	.main-nav li {
		margin-right: 10px;
		display: inline-block;
		width: auto;
		font-size: 0.9em;
		line-height: 1.5em;
		padding: 10px 20px;
	}
	.main-nav a:hover {
		color: #B2B2B2;
		background: none;
	}
	.description-wrapper {
		/* fix this*/
		width: 48%;
		float: left;
		padding: inherit;
	}
	.contact-wrapper {
		clear: left;
		padding: 1em;
		width: 50%;
		text-align: center;
	}
	.contact-info li a {
		display: inline-block;
		padding: 0 0 0 30px;
	}
	.footer-link {
		display: none;
	}
	.footer-navigation ul {
		float: right;
	}
	.footer-navigation li {
		list-style: none;
		float: left;
		font-size: 1.6em;
		margin-right: 20px;
	}
	.footer-navigation li a {
		text-decoration: none;
		font-weight: bold;
		color: black;
	}
	.footer-navigation {
		display: inline-block;
		float: right;
	}
}

/*************************************
**************************************
************                 *********
************  MEDIA QUERIES  *********
************    1024          *********
************                 *********
**************************************
**************************************/

@media (min-width: 1024px) {
	/*.profile-wrapper {
		padding-right: 100px;
		padding-left: 88px;
	}*/
	.profile-photo {
		float: right;
		display: inline-block;
		height: 150px;
		margin-bottom: 20px;
		border-radius: 0px;
	}
	.profile-description {
		margin-top: 50px;
		width: 65%;
		float: left;
	}
	.main-nav ul {
		display: inline;
		float: right;
	}
	.main-nav li {
		display: inline-block;
		width: auto;
		margin: 0;
		padding: 0;
	}
	.main-nav li:nth-child(3n+1) {
		margin-right: 0px;
	}
	.main-header {
		padding-top: 5px;
	}
	.main-nav a {
		display: inline-block;
		font-size: 1.3em;
	}
	.name {
		float: left;
		display: inline-block;
		margin-top: 15px;
	}
	/*.profile-wrapper {
		clear: both;
	}*/
	.portfolio-wrapper {
		margin-left: auto;
		margin-right: auto;
		max-width: 800px;
	}
	.description-wrapper {
		float: left;
		width: 32%;
		margin: 5px;
	}
	.description-wrapper h2 {
		font-size: 1.3em;
	}
	.main-footer {
		clear: both;
	}
	/*.bottom-float-wrapper {
		max-width: 1020px;
		margin: auto;
	}*/
	.contact-wrapper {
		display: block;
		width: 70%;
		margin: auto;
	}
}